<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <PcCom>Kuehner.SPOT.Emulator.ComPortToPhysicalPcSerialPort, ComPortEmulatorComponents</PcCom>
    <ServerSocketCom>Kuehner.SPOT.Emulator.ComPortToServerSocket, ComPortEmulatorComponents</ServerSocketCom>
    <ClientSocketCom>Kuehner.SPOT.Emulator.ComPortToClientSocket, ComPortEmulatorComponents</ClientSocketCom>
  </Types>

  <EmulatorComponents>
    <PcCom>
      <ComPortHandle>Usart1</ComPortHandle>
      <!--optional-->
      <PhysicalPortName>COM1</PhysicalPortName>
      <Baudrate>9600</Baudrate>
      <ReadTimeout>1000</ReadTimeout>
    </PcCom>
    <!--    <ServerSocketCom>
      <ComPortHandle>Usart1</ComPortHandle>
      < optional >
      <ClientIpAddress>127.0.0.1</ClientIpAddress>
      <IpPort>23</IpPort>
      <ShowWaitMessage>true</ShowWaitMessage>
    </ServerSocketCom>
    -->
    <!--   <ClientSocketCom>
      <ComPortHandle>Usart1</ComPortHandle>
      < optional >
      <HostIpAddress>127.0.0.1</HostIpAddress>
      <IpPort>23</IpPort>
    </ClientSocketCom>
    -->
  </EmulatorComponents>

</Emulator>