<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <TMP100>Kuehner.SPOT.Emulator.TMP100Sensor, I2CTemperatureSensorSampleEmulator</TMP100>
  </Types>

  <EmulatorComponents>
    <TMP100 id="TMP100">
      <Address>72</Address>
      <!--Hardware Provider-->
      <Scl>1</Scl>
      <Sda>2</Sda>
    </TMP100>
  </EmulatorComponents>

</Emulator>