<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <TimingServices>Microsoft.SPOT.Emulator.Time.TimingServices</TimingServices>
  </Types>

  <EmulatorComponents>
    <TimingServices>
      <SystemClockFrequency>32000000</SystemClockFrequency>
    </TimingServices>
  </EmulatorComponents>

</Emulator>