<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <GpioPort>Microsoft.SPOT.Emulator.Gpio.GpioPort</GpioPort>
  </Types>

  <EmulatorComponents>
    <GpioPort id="GPIOOut0">
      <Pin>0</Pin>
      <ModesAllowed>OutputPort</ModesAllowed>
      <ModesExpected>OutputPort</ModesExpected>
    </GpioPort>

    <GpioPort id="GPIOOut1">
      <Pin>1</Pin>
      <ModesAllowed>OutputPort</ModesAllowed>
      <ModesExpected>OutputPort</ModesExpected>
    </GpioPort>

    <GpioPort id="GPIOIn0">
      <Pin>2</Pin>
      <ModesAllowed>InputPort</ModesAllowed>
      <ModesExpected>InputPort</ModesExpected>
    </GpioPort>

    <GpioPort id="GPIOIn1">
      <Pin>3</Pin>
      <ModesAllowed>InputPort</ModesAllowed>
      <ModesExpected>InputPort</ModesExpected>
    </GpioPort>

    <GpioPort id="GPIOInOut">
      <Pin>4</Pin>
      <ModesAllowed>InputOutputPort</ModesAllowed>
      <ModesExpected>InputOutputPort</ModesExpected>
    </GpioPort>

  </EmulatorComponents>
</Emulator>