<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <ComPort>Microsoft.SPOT.Emulator.Com.ComPortToNamedPipe</ComPort>
  </Types>

  <EmulatorComponents>
    <ComPort id="com1">
      <ComPortHandle>Usart1</ComPortHandle>
      <Filename>\\.\pipe\SamplePipe</Filename>
    </ComPort>
  </EmulatorComponents>

</Emulator>