<?xml version="1.0" encoding="utf-8"?>
<Emulator>
  <Types>
    <Battery>Microsoft.SPOT.Emulator.Battery.BatteryCell</Battery>
  </Types>

  <EmulatorComponents>
    <Battery id="Battery">
      <Voltage>5123</Voltage>        <!--5.123 V-->
      <Temperature>234</Temperature> <!--23.4 °C-->
      <!--percent values (integer)-->
      <StateOfCharge>35</StateOfCharge>
      <BatteryLifeMin>10</BatteryLifeMin>
      <BatteryLifeLow>20</BatteryLifeLow>
      <BatteryLifeMed>30</BatteryLifeMed>
      <BatteryLifeFullMin>60</BatteryLifeFullMin>
      <BatteryLifeMax>98</BatteryLifeMax>
      <!--durations in milli seconds (integer)-->
      <BatteryLifeHysteresis>6</BatteryLifeHysteresis>
      <TimeoutCharging>30</TimeoutCharging>
      <TimeoutCharged>10</TimeoutCharged>
      <TimeoutCharger>5</TimeoutCharger>
      <TimeoutBacklight>5</TimeoutBacklight>
    </Battery>

  </EmulatorComponents>
</Emulator>