<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <ADC124S101>Kuehner.SPOT.Emulator.ADC124S101, SpiAdConverterSampleEmulator</ADC124S101>
  </Types>

  <EmulatorComponents>
    <ADC124S101 id="ADC">
      <ChipSelectPin>10</ChipSelectPin>
      <SupplyVoltage>5000</SupplyVoltage>
      <!--SPI-->
      <ChipSelectActiveState>false</ChipSelectActiveState>
      <ChipSelectSetupTime>1</ChipSelectSetupTime>
      <ChipSelectHoldTime>1</ChipSelectHoldTime>
      <ClockRateKHz>15000</ClockRateKHz>
      <ClockIdleState>true</ClockIdleState>
      <ClockEdge>false</ClockEdge>
      <SpiModule>Spi1</SpiModule>
      <!--Hardware Provider-->
      <Mask>1</Mask>
      <Mosi>2</Mosi>
      <Miso>3</Miso>
    </ADC124S101>
  </EmulatorComponents>

</Emulator>