<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <MemoryManager>Microsoft.SPOT.Emulator.Memory.MemoryManager</MemoryManager>
    <FlashManager>Kuehner.SPOT.Emulator.PersistentFlashManager, PersistentFlashManagerComponent</FlashManager>
  </Types>

  <EmulatorComponents>
    <MemoryManager>
      <FlashManager type="FlashManager">
      </FlashManager>
    </MemoryManager>
  </EmulatorComponents>

</Emulator>